<strong>Olá {{ provider }}</strong>
<p><strong>Houve um cancelamento de horário confira os horários abaixo:</strong></p>

<p>
    <strong>Usuário: {{ user }}</strong></br>
    <strong>Data/hora: {{ date }}</strong></br>
    </br>
    <small>
      O horário está novamente disponivel para novos agendamentos;
    </small>
</p>
